<div class="top-bar">
  <div class="top-left">
    <a routerLink="/requests-filter">
      <img src="assets/logo.png" alt="Fortis Logo" class="full-logo" />
    </a>
  </div>
  <div class="top-right">
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>

    <button mat-raised-button color="primary" class="header-button" routerLink="/create">
      Опублікувати оголошення
    </button>

    <button mat-icon-button [matMenuTriggerFor]="profileMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item routerLink="/profile/soldier">Мій профіль</button>
      <button mat-menu-item routerLink="/my-requests-soldier">Мої запити</button>
    </mat-menu>
  </div>
</div>

<div class="page-wrapper">
  <mat-tab-group>
    <mat-tab label="Про себе">
      <div class="profile-wrapper">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>person</mat-icon> Ім’я та прізвище
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div style="display: flex; flex-direction: column; gap: 16px; padding-bottom: 16px;">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Ім’я</mat-label>
              <input matInput name="name" [value]="profileData?.name" />
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Прізвище</mat-label>
              <input matInput name="surname" [value]="profileData?.surname" />
            </mat-form-field>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>phone</mat-icon> Номер телефону
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Номер телефону</mat-label>
            <input matInput [value]="profileData?.phone_number" placeholder="+380 ___ ___ ___" />
          </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>info</mat-icon> Про себе
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Ваш опис</mat-label>
            <textarea matInput placeholder="Опишіть себе" [value]="profileData?.description"></textarea>
          </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>lock</mat-icon> Підтвердження паролем
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Поточний пароль</mat-label>
            <input matInput type="password" name="password" required />
          </mat-form-field>
        </mat-expansion-panel>

        <div style=" text-align: center; width: 100%">
          <button mat-raised-button color="primary" (click)="onSubmit()" style="width: 95%">Зберегти зміни</button>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Налаштування">
      <div class="profile-wrapper">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title><mat-icon>verified_user</mat-icon> Підтвердити особу</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="confirmation-fields">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Підрозділ</mat-label>
              <input matInput [value]="profileData?.unit" placeholder="Введіть підрозділ" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Військова частина</mat-label>
              <input matInput [value]="profileData?.subsubunit" placeholder="Введіть номер частини" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Батальйон</mat-label>
              <input matInput [value]="profileData?.battalion" placeholder="Введіть батальйон" />
            </mat-form-field>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>lock</mat-icon> Підтвердження паролем
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Поточний пароль</mat-label>
            <input matInput type="password" name="password" required />
          </mat-form-field>
        </mat-expansion-panel>

        <div style=" text-align: center; width: 100%">
          <button mat-raised-button color="primary" (click)="onSubmit()" style="width: 95%">Зберегти зміни</button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
