<div class="top-bar">
  <div class="top-left">
    <a routerLink="/requests-filter">
      <img src="assets/logo.png" alt="Fortis Logo" class="full-logo" />
    </a>
  </div>
  <div class="top-right">
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>

    <button mat-raised-button color="accent" class="header-button" routerLink="/create">
      Опублікувати оголошення
    </button>

    <button mat-icon-button [matMenuTriggerFor]="profileMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item routerLink="/profile/soldier">Мій профіль</button>
      <button mat-menu-item routerLink="/my-requests-soldier">Мої запити</button>
    </mat-menu>
  </div>
</div>

<div class="page-wrapper" style="font-family: 'Montserrat', sans-serif; padding: 32px 16px 80px;">
  <mat-tab-group>
    <mat-tab label="Мій профіль">
      <div class="profile-wrapper">

        <h2>Редагування профілю</h2>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Ім’я</mat-label>
          <input matInput name="name" [value]="profileData?.name" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Прізвище</mat-label>
          <input matInput name="surname" [value]="profileData?.surname" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Номер телефону</mat-label>
          <input matInput name="phone_number" [value]="profileData?.phone_number" placeholder="+380 ___ ___ ___" />
        </mat-form-field>


        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Підрозділ</mat-label>
          <input matInput [value]="profileData?.unit" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Військова частина</mat-label>
          <input matInput [value]="profileData?.subsubunit" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Батальйон</mat-label>
          <input matInput [value]="profileData?.battalion" />
        </mat-form-field>
        <h3>Підтвердження паролю</h3>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Поточний пароль</mat-label>
          <input matInput type="password" name="password" required />
        </mat-form-field>

        <div style="margin-top: 32px; display: flex; flex-direction: column; gap: 12px;">
          <button mat-raised-button style="width: 100%; background-color: #3A7571; color: white" (click)="onSubmit()">Зберегти зміни</button>
          <button mat-stroked-button style="width: 100%;  color: #3A7571" (click)="cancel()">Скасувати</button>
        </div>
      </div>
    </mat-tab>


  </mat-tab-group>
</div>

<footer class="footer" style="margin-top: auto;">
  <div class="footer-content">
    <div class="footer-left">
      <a routerLink="/requests-filter">
        <img src="assets/logo-small.png" alt="Fortis Logo" class="footer-logo" />
      </a>
    </div>

    <div class="footer-center">
      <div class="footer-links">
        <a routerLink="/contacts">Контакти</a>
      </div>

      <div class="footer-contacts">
        <div class="contact-item">
          <mat-icon>location_on</mat-icon>
          <span>Lviv, Ukraine</span>
        </div>
        <div class="contact-item">
          <mat-icon>email</mat-icon>
          <span>foris&#64;gmail.com</span>
        </div>
        <div class="contact-item">
          <mat-icon>call</mat-icon>
          <span>+380 567 239 175</span>
        </div>
      </div>
    </div>

    <div class="footer-right">
      <p>Fortis © 2025 All rights reserved</p>
    </div>
  </div>
</footer>
