<div class="change-password-wrapper">
    <h2>Змінити пароль</h2>
  
    <form (ngSubmit)="submit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Поточний пароль</mat-label>
        <input matInput name="current_password" type="password" [(ngModel)]="passwordData.current_password">
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Новий пароль</mat-label>
        <input matInput name="new_password" type="password" [(ngModel)]="passwordData.new_password">
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Повторіть новий пароль</mat-label>
        <input matInput name="new_password_repeat" type="password" [(ngModel)]="passwordData.new_password_repeat">
      </mat-form-field>
  
      <div class="button-group">
        <button mat-flat-button color="primary" type="submit">Оновити пароль</button>
        <button mat-stroked-button routerLink="/profile/volunteer" type="button">Скасувати</button>
      </div>
    </form>
  </div>
  