<div class="top-bar">
  <div class="top-left">
    <a routerLink="/requests-filter">
      <img src="assets/logo.png" alt="Fortis Logo" class="full-logo" />
    </a>
  </div>
  <div class="top-right">
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
    <button mat-raised-button color="accent" class="header-button" routerLink="/create">
      Опублікувати оголошення
    </button>
    <button mat-icon-button [matMenuTriggerFor]="profileMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item routerLink="/profile/soldier">Мій профіль</button>
      <button mat-menu-item routerLink="/my-requests-soldier">Мої запити</button>
    </mat-menu>
  </div>
</div>

<div class="page-wrapper" *ngIf="profileData" style="font-family: 'Montserrat', sans-serif;">
  <mat-tab-group>
    <mat-tab label="Мій профіль">
      <div class="profile-wrapper" style="padding-top: 24px;">
        <div style="display: flex; align-items: center; gap: 16px; margin-bottom: 16px;">
          <button mat-icon-button disabled style="transform: scale(2); margin-top: 4px;">
            <mat-icon>account_circle</mat-icon>
          </button>
          <h2>{{ profileData.name }} {{ profileData.surname }}</h2>
        </div>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Номер телефону</mat-label>
          <input matInput [readonly]="true" [value]="profileData.phone_number"/>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Електронна адреса</mat-label>
          <input matInput [readonly]="true" [value]="profileData.email"/>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Підрозділ</mat-label>
          <input matInput [readonly]="true" [value]="profileData.unit"/>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Субпідрозділ</mat-label>
          <input matInput [readonly]="true" [value]="profileData.subsubunit"/>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Батальйон</mat-label>
          <input matInput [readonly]="true" [value]="profileData.battalion"/>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Пароль</mat-label>
          <input matInput [readonly]="true" type="password" value="********"/>
        </mat-form-field>

        <div class="settings-actions" style="margin-top: 32px; display: flex; flex-direction: column; gap: 12px;">
          <button mat-flat-button style="background-color: #3A7571" (click)="editProfile()">Редагувати профіль</button>
          <button mat-stroked-button style="background-color: #3A7571; color: white"  (click)="changePassword()">Змінити пароль</button>
          <button mat-stroked-button style="color: #3A7571" (click)="logout()">Вийти</button>
          <button mat-button style="color: #3A7571">Видалити обліковий запис</button>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Мої запити">
      <div class="profile-wrapper" style="padding-top: 24px;">
        <h2 class="title">Мої запити</h2>
        <hr class="divider" />

        <div class="request-card" *ngFor="let request of requests">
          <img class="request-img" alt="request_img" [src]="'http://127.0.0.1:8000' + request.image_path" />
          <div class="request-content">
            <h3 class="request-title">{{ request.name }}</h3>
            <p><strong>Статус</strong> — {{ request.status }}</p>

            <ng-container *ngIf="request.status === 'in_progress' || request.status === 'completed'">
              <p *ngIf="userRole === 'volunteer' && soldierMap[request.soldier_id]">
                <a class="action-link" (click)="showSoldierPopup(request.soldier_id)">Контактні дані військового</a>
              </p>
              <p *ngIf="userRole === 'soldier' && volunteerMap[request.volunteer_id]">
                <a class="action-link" (click)="showVolunteerPopup(request.volunteer_id)">Контактні дані волонтера</a>
              </p>
            </ng-container>

            <div class="request-actions" *ngIf="userRole === 'soldier'">
              <a class="action-link" *ngIf="request.status === 'pending'">Редагувати</a>
              <a class="action-link" *ngIf="request.status === 'pending'" (click)="deleteRequest(request.id)">Видалити</a>
              <a class="action-link" *ngIf="request.status === 'completed'" [routerLink]="['/review']">Залишити відгук</a>
            </div>

            <div class="request-actions" *ngIf="userRole === 'volunteer'">
              <a class="action-link" (click)="showRequestPopup(request)">Деталі запиту</a>
            </div>

            <button
              *ngIf="userRole === 'volunteer' && request.status === 'in_progress'"
              mat-raised-button
              class="complete-button"
              (click)="markAsCompleted(request.id)"
            >
              Позначити як виконано
            </button>
          </div>
        </div>
      </div>

      <div class="popup-backdrop" *ngIf="popupVolunteerVisible" (click)="closePopupIfOutside($event)">
        <div class="popup-window" (click)="$event.stopPropagation()">
          <button class="close-btn" (click)="closeVolunteerPopup()">×</button>
          <h3>Контактні дані волонтера</h3>
          <div *ngIf="selectedVolunteer">
            <p><strong>Ім’я:</strong> {{ selectedVolunteer.name }}</p>
            <p><strong>Прізвище:</strong> {{ selectedVolunteer.surname }}</p>
            <p><strong>Телефон:</strong> {{ selectedVolunteer.phone_number }}</p>
            <p><strong>Email:</strong> {{ selectedVolunteer.email }}</p>
          </div>
        </div>
      </div>

      <div class="popup-backdrop" *ngIf="popupVisible" (click)="closePopupIfOutside($event)">
        <div class="popup-window" (click)="$event.stopPropagation()">
          <button class="close-btn" (click)="closePopup()">×</button>
          <h3>Контактні дані військового</h3>
          <div *ngIf="selectedSoldier">
            <p><strong>Ім’я:</strong> {{ selectedSoldier.name }}</p>
            <p><strong>Прізвище:</strong> {{ selectedSoldier.surname }}</p>
            <p><strong>Телефон:</strong> {{ selectedSoldier.phone_number }}</p>
            <p><strong>Email:</strong> {{ selectedSoldier.email }}</p>
          </div>
        </div>
      </div>

      <div class="popup-backdrop" *ngIf="popupRequestVisible" (click)="closePopupIfOutside($event)">
        <div class="popup-window" (click)="$event.stopPropagation()">
          <button class="close-btn" (click)="closeRequestPopup()">×</button>
          <h3>Деталі запиту</h3>
          <div *ngIf="selectedRequest">
            <img *ngIf="selectedRequest.image" [src]="'http://127.0.0.1:8000' + selectedRequest.image"
                 alt="Зображення запиту" class="popup-image" />
            <p><strong>Назва:</strong> {{ selectedRequest.name }}</p>
            <p><strong>Опис:</strong> {{ selectedRequest.description || '—' }}</p>
            <p><strong>Локація:</strong> {{ selectedRequest.location || '—' }}</p>
            <p><strong>Крайній термін:</strong> {{ selectedRequest.deadline | date: 'dd.MM.yyyy' }}</p>
          </div>
        </div>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>

<footer class="footer" style="margin-top: auto;">
  <div class="footer-content">
    <div class="footer-left">
      <a routerLink="/requests-filter">
        <img src="assets/logo-small.png" alt="Fortis Logo" class="footer-logo" />
      </a>
    </div>
    <div class="footer-center">
      <div class="footer-links">
        <a routerLink="/contacts">Контакти</a>
      </div>
      <div class="footer-contacts">
        <div class="contact-item">
          <mat-icon>location_on</mat-icon>
          <span>Lviv, Ukraine</span>
        </div>
        <div class="contact-item">
          <mat-icon>email</mat-icon>
          <span>foris&#64;gmail.com</span>
        </div>
        <div class="contact-item">
          <mat-icon>call</mat-icon>
          <span>+380 567 239 175</span>
        </div>
      </div>
    </div>
    <div class="footer-right">
      <p>Fortis © 2025 All rights reserved</p>
    </div>
  </div>
</footer>
